#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.button {
  box-shadow: 3px 3px 2px black;
  /*border: solid 2px gray;*/
  border-radius: 20px;
  background-color: #EEEEEE;
  font-family: Helvetica;
  font-size: larger;
  padding: 2px;
  text-align: center;
  margin: 10px;
  z-index: 2;
}

.button:hover {
  box-shadow: 3px 3px 2px blue;
}

#targetDiv {
  text-align: center;
  font-family: Impact;
  height: 200px;
  border: solid 2px black;
  margin: 20px;
  grid-column: 1 / span 2;
}
